.navbar {
    display: flex;
    overflow: hidden;
    background-color:grey;
    position: fixed;
    top: 0;
    width: 100%;
  }
ul {
    text-align-last: left;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    background-color:grey;
  }
li{
    display: inline;
    padding: 2px 60px;
}
li a {
    display: inline-block;
    text-decoration: none;
}
li a.active {
    background-color: LightBlue;
    color: white;
}
li a:hover{
    background-color: green;
    align-self: auto;
    color: white;
    
}
main 
{
    max-width: 5000px auto;
    margin-left: 100px auto;
    margin-right: 100px auto;
    padding: 4px 8px auto;
    background-color:steelblue;

}
h2{
    text-align:center;
    text-transform: uppercase;
    text-shadow: 4px 4px yellow;
}
h3{
    text-align: justify;
    text-shadow: 1px 1px red;
}
p{
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
    
}
.cen{
    margin: auto;
    padding: 5px;}
.but {
    border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    color: #fff;
    background-color:rosybrown;
    font-size: 110%;
}