.navbar {
    display: flex;
    overflow: hidden;
    background-color:grey;
    position: fixed;
    top: 0;
    width: 200%;
  }
ul {
    text-align-last: justify;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    
    background-color:grey;
  }
li{
    display: inline;
    padding: 2px 30px;
}
li a {
    display: inline;
    text-decoration: none;
}
li a.active {
    background-color: LightBlue;
    color: white;
}
li a:hover{
    background-color: green;
    color: white;
    
}
main 
{
    max-width: 5000px auto;
    margin-left: 100px auto;
    margin-right: 100px auto;
    padding: 4px 8px auto;
    background-color:steelblue;

}
h2{
    text-align:center;
    text-transform: uppercase;
    text-shadow: 4px 4px yellow;
}
h3{
    text-align: justify;
    text-shadow: 1px 1px red;
}
p{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    
}
.cen{
    margin: auto;
    padding: 5px;}
    .image {
        width: 460px;
        height: 460px;
        text-align: center;
    }

